* {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.bg-gray{
  background-color: gray;
}
.bg-white{
  background-color: white;
}
.border-gray{
  border: solid gray 2px;
}
.border-none{
  border: none;
}
.container{
  width: 90%;
  margin: auto;
}
.flex{
  display: flex;
}
.flex-row{
  flex-direction: row;
}
.flex-start{
  align-items: start;
}
.font-light{
  font-weight: 300;
}
.font-md{
  font-weight: 400;
}
#game-status{
  z-index: 20;
}
.grid{
  display: grid;
}
.grid-4{
  grid-template-columns: repeat(4, 1fr);
}
.gap-4{
  gap: 1rem;
}
.hover-scale:hover{
  transform: scale(1.1);
  transition: .5s;
}
img{
  width: 200px;
}
.justify-between{
  justify-content: space-between;
}
.mt-4{
  margin-block-start: .5rem;
}
#overlay{
  height: 100vh;
  width: 100vw;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 10;
}
.p-4{
  padding: .5rem;
}
.p-8{
  padding: 1rem;
}
.pb-8{
  padding-block-end: 1rem;
}
.position-absolute{
  position: absolute;
  left: 25%;
  bottom: 30%;
}
.pt-4{
  padding-block-start: .5rem;
}
.px-4{
  padding-inline: .5rem;
}
.py-4{
  padding-block: .5rem;
}
.px-8{
  padding-inline: 1rem;
}
.py-8{
  padding-block: 1rem;
}
.py-12{
  padding-block: 1.25rem;
}
.rounded-lg{
  border-radius: 8px;
}
.rounded-sm{
  border-radius: 4px;
}
.text-center{
  text-align: center;
}
.text-left{
  text-align: left;
}
.text-green-500{
  color: rgb(45, 170, 45);
}
.text-red-500{
  color: rgb(142, 5, 5);
}
.text-right{
  text-align: right;
}
.text-sky-blue{
  color: skyblue;
}
.text-white{
  color: white;
}
.w-50{
  width: 50%;
}

