* {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.bg-gray{
  background-color: gray;
}
.container{
  width: 90%;
  margin: auto;
}
.flex{
  display: flex;
}
.flex-row{
  flex-direction: row;
}
.flex-start{
  align-items: start;
}
.font-light{
  font-weight: 300;
}
.font-md{
  font-weight: 400;
}
.grid{
  display: grid;
}
.grid-4{
  grid-template-columns: repeat(4, 1fr);
}
.gap-4{
  gap: 1rem;
}
img{
  width: 200px;
}
.justify-between{
  justify-content: space-between;
}
.mt-4{
  margin-block-start: .5rem;
}
.p-4{
  padding: .5rem;
}
.pt-4{
  padding-block-start: .5rem;
}
.px-4{
  padding-inline: .5rem;
}
.py-4{
  padding-block: .5rem;
}
.px-8{
  padding-inline: 1rem;
}
.py-8{
  padding-block: 1rem;
}
.py-12{
  padding-block: 1.25rem;
}
.text-left{
  text-align: left;
}
.text-right{
  text-align: right;
}
.text-sky-blue{
  color: skyblue;
}
.text-white{
  color: white;
}

